[workspace]
authors = ["Team whIRLwind"]
channels = ["conda-forge"]
name = "booster-sdk"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.0-alpha.1"

[environments]
py = ["wheel-build", "python-dev", "python-tasks"]

[feature.python-tasks.tasks]
py-build = "pixi run -e py py-build-common"

[feature.wheel-build.tasks]
py-build-common = "PIP_REQUIRE_VIRTUALENV=0 maturin develop --manifest-path booster_sdk_py/Cargo.toml"
py-build-wheel = "maturin build --release --manifest-path booster_sdk_py/Cargo.toml --out booster_sdk_py/dist/"

[dependencies]
maturin = ">=1.9.6,<2"

[feature.wheel-build.dependencies]
python = "==3.10"
pip = ">=23"
setuptools = ">=80.0,<81.0"
maturin = ">=1.9.6,<2"

[feature.python-dev.pypi-dependencies]
booster_sdk = { path = "booster_sdk_py", editable = true }
