name: Build Python Wheels

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            pixi-env: py
          - runner: ubuntu-22.04-arm
            pixi-env: py
          - runner: macos-14
            pixi-env: py
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.1
        with:
          pixi-version: v0.63.2
          environments: ${{ matrix.platform.pixi-env }}
      - name: Build wheels
        run: pixi run py-build
