name: Rust Checks

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  rust-checks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.1
        with:
          pixi-version: v0.63.2
      - name: Rust checks
        run: pixi run rs-check
