name: Python Checks

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

permissions:
    contents: read

jobs:
    python-checks:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - uses: prefix-dev/setup-pixi@v0.9.1
              with:
                  pixi-version: v0.63.2
                  environments: "py"
            - name: Python lint
              run: pixi run py-lint
